
<!DOCTYPE html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->
<head>
    <title>{{ template:title }}</title>
    <meta charset="utf-8">
    <meta name="keywords" content="keywords" />
    <meta name="description" content="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ theme:partial name="css" }}
    {{ theme:partial name="top_script" }}
</head>
<body>
    <div id="page-wrapper">
        {{ theme:partial name="header" }}
        {{ template:body }} 
        {{ theme:partial name="footer" }}
    </div>
     {{ theme:partial name="bottom_script" }}
</body>
</html>

