{{ if template:has_breadcrumbs }}
   {{ if theme:options:show_breadcrumbs == 'yes' }}
       <ul class="breadcrumb">
            <li class="home"><a class="site-home" href="/">Home</a><span class="divider"> / </span></li>
            {{ template:breadcrumbs }}

                {{ if uri }}
                 <li>
                    {{ url:anchor segments=uri title=name }}
                    <span class="divider"> / </span>
                 </li>
                {{ else }}
                <li class="current_item">
                    {{ name }}
                </li>

                {{ endif }}

            {{ /template:breadcrumbs }}
        </ul>
       {{ endif }}
{{ endif }}