<div class="footer">
<div class="container-fluid">
<div class="row-fluid hidden-phone">
<div class="span3">
    <h3>
        <a >About Us</a>
    </h3>
    <ul id="menu-about-us" class="nav nav-list">
        <li id="menu-item-128" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-128">
            <a href="http://www.specialistdentalgroup.com/about-us/our-history/">Our History</a>
        </li>
        <li id="menu-item-131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-131">
            <a href="http://www.specialistdentalgroup.com/about-us/our-vision-mission/">Our Vision &#038; Mission</a>
        </li>
        <li id="menu-item-129" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-129">
            <a href="http://www.specialistdentalgroup.com/about-us/our-logo/">Our Logo</a>
        </li>
        <li id="menu-item-4239" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4239">
            <a href="http://www.specialistdentalgroup.com/privacy-policy/">Privacy Policy</a>
        </li>
        <li id="menu-item-4241" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4241">
            <a href="http://www.specialistdentalgroup.com/terms-of-use/">Terms of Use</a>
        </li>
        <li id="menu-item-4240" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4240">
            <a href="http://www.specialistdentalgroup.com/sitemap/">Sitemap</a>
        </li>
        <li id="menu-item-4246" class="sub-heading menu-item menu-item-type-post_type menu-item-object-page menu-item-4246">
            <a href="http://www.specialistdentalgroup.com/why-us/">Why Us</a>
        </li>
        <li id="menu-item-127" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-127">
            <a href="http://www.specialistdentalgroup.com/why-us/our-expertise/">Our Expertise</a>
        </li>
        <li id="menu-item-130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-130">
            <a href="http://www.specialistdentalgroup.com/why-us/our-research-contribution/">Our Research &#038; Contribution</a>
        </li>
        <li id="menu-item-126" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-126">
            <a href="http://www.specialistdentalgroup.com/why-us/our-achievements/">Our Achievements</a>
        </li>
        <li id="menu-item-4247" class="sub-heading menu-item menu-item-type-custom menu-item-object-custom menu-item-4247">
            <a href="#">Our Clinics</a>
        </li>
        <li id="menu-item-133" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-133">
            <a href="http://www.specialistdentalgroup.com/about-us/our-clinic-locations/">Our Clinic Locations</a>
        </li>
        <li id="menu-item-135" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-135">
            <a href="http://www.specialistdentalgroup.com/about-us/our-facilities/">Our Facilities</a>
        </li>
        <li id="menu-item-6425" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6425">
            <a href="http://www.specialistdentalgroup.com/we-care-about-your-personal-data/">We Care About Your Personal Data</a>
        </li>
    </ul>
    <h3>
        <a>Media Room</a>
    </h3>
    <ul id="menu-media-room" class="nav nav-list">
        <li id="menu-item-137" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-137">
            <a href="http://www.specialistdentalgroup.com/blog/|en|http://www.specialistdentalgroup.com/id/blog/|id|http://www.specialistdentalgroup.com/zh/blog/|zh|">SDG Blog</a>
        </li>
        <li id="menu-item-138" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-138">
            <a href="http://www.specialistdentalgroup.com/news/">SDG Activities Archive</a>
        </li>
        <li id="menu-item-139" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-139">
            <a href="http://www.specialistdentalgroup.com/media_coverage/">Media Coverage Archive</a>
        </li>
        <li id="menu-item-140" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-140">
            <a href="#">Media Kit</a>
        </li>
        <li id="menu-item-141" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-141">
            <a href="#">Media Relations Contact</a>
        </li>
    </ul>
</div>
<div class="span3">
    <h3>
        <a href="#"> Our Dental Team</a>
    </h3>
    <ul class="nav nav-list">
        <li>
            <a href="http://www.specialistdentalgroup.com/dental_team/dr-neo-tee-khin/" title="Dr. Neo Tee Khin">Dr. Neo Tee Khin</a>
        </li>
        <li>
            <a href="http://www.specialistdentalgroup.com/dental_team/dr-ansgar-c-cheng/" title="Dr. Ansgar C. Cheng">Dr. Ansgar C. Cheng</a>
        </li>
        <li>
            <a href="http://www.specialistdentalgroup.com/dental_team/dr-edwin-tan/" title="Dr. Edwin Tan">Dr. Edwin Tan</a>
        </li>
        <li>
            <a href="http://www.specialistdentalgroup.com/dental_team/dr-helena-lee/" title="Dr. Helena Lee">Dr. Helena Lee</a>
        </li>
        <li>
            <a href="http://www.specialistdentalgroup.com/dental_team/dr-ho-kok-sen/" title="Dr. Ho Kok Sen">Dr. Ho Kok Sen</a>
        </li>
        <li>
            <a href="http://www.specialistdentalgroup.com/dental_team/dr-elizabeth-tan/" title="Dr. Elizabeth Tan">Dr. Elizabeth Tan</a>
        </li>
        <li>
            <a href="http://www.specialistdentalgroup.com/dental_team/dr-steven-soo/" title="Dr. Steven Soo">Dr. Steven Soo</a>
        </li>
        <li>
            <a href="http://www.specialistdentalgroup.com/dental_team/dr-eugene-chan/" title="Dr. Eugene Chan">Dr. Eugene Chan</a>
        </li>
        <li>
            <a href="http://www.specialistdentalgroup.com/dental_team/dr-daylene-leong/" title="Dr. Daylene Leong">Dr. Daylene Leong</a>
        </li>
        <li>
            <a href="http://www.specialistdentalgroup.com/dental_team/dr-may-ling-eide/" title="Dr. May Ling Eide">Dr. May Ling Eide</a>
        </li>
        <li>
            <a href="http://www.specialistdentalgroup.com/dental_team/dr-edwin-heng/" title="Dr. Edwin Heng">Dr. Edwin Heng</a>
        </li>
    </ul>
    <br class="hidden-phone" />
    <h3>
        <a href="#">Specialty Areas </a>
    </h3>
    <ul class="nav nav-list">
        <li>
            <a href="http://www.specialistdentalgroup.com/speciality/endodontics/" title="Endodontics">Endodontics</a>
        </li>
        <li>
            <a href="http://www.specialistdentalgroup.com/speciality/paedodontics/" title="Paedodontics">Paedodontics</a>
        </li>
        <li>
            <a href="http://www.specialistdentalgroup.com/speciality/oral-maxillofacial-surgery/" title="Oral &#038; Maxillofacial Surgery">Oral &#038; Maxillofacial Surgery</a>
        </li>
        <li>
            <a href="http://www.specialistdentalgroup.com/speciality/periodontics/" title="Periodontics">Periodontics</a>
        </li>
        <li>
            <a href="http://www.specialistdentalgroup.com/speciality/orthodontics/" title="Orthodontics">Orthodontics</a>
        </li>
        <li>
            <a href="http://www.specialistdentalgroup.com/speciality/prosthodontics/" title="Prosthodontics">Prosthodontics</a>
        </li>
    </ul>
</div>
<div class="span3">
    <h3>
        <a href="#">Dental Services </a>
    </h3>
    <ul id="menu-footer-dental-service-1" class="nav nav-list">
        <li id="menu-item-4522" class="group-heading menu-item menu-item-type-custom menu-item-object-custom menu-item-4522">
            <a>Smile Makeover</a>
        </li>
        <li id="menu-item-4528" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-4528">
            <a href="http://www.specialistdentalgroup.com/services/dental-implants/">Dental Implants</a>
        </li>
        <li id="menu-item-4523" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-4523">
            <a href="http://www.specialistdentalgroup.com/services/braces/">Braces</a>
        </li>
        <li id="menu-item-4541" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-4541">
            <a href="http://www.specialistdentalgroup.com/services/veneers/">Veneers</a>
        </li>
        <li id="menu-item-4538" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-4538">
            <a href="http://www.specialistdentalgroup.com/services/gum-treatments/">Gum Plastic Surgery</a>
        </li>
        <li id="menu-item-4525" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-4525">
            <a href="http://www.specialistdentalgroup.com/services/composite-bonding/">Composite Bonding</a>
        </li>
        <li id="menu-item-4527" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-4527">
            <a href="http://www.specialistdentalgroup.com/services/crowns/">Crowns</a>
        </li>
        <li id="menu-item-4530" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-4530">
            <a href="http://www.specialistdentalgroup.com/services/invisalign/">Invisalign®</a>
        </li>
        <li id="menu-item-4531" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-4531">
            <a href="http://www.specialistdentalgroup.com/services/teeth-whitening/">Teeth Whitening</a>
        </li>
        <li id="menu-item-4526" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-4526">
            <a href="http://www.specialistdentalgroup.com/services/cosmetic-dentistry/">Cosmetic Dentistry</a>
        </li>
        <li id="menu-item-4529" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-4529">
            <a href="http://www.specialistdentalgroup.com/services/gummy-smile-treatment/">Gummy Smile Treatment</a>
        </li>
        <li id="menu-item-4533" class="group-heading menu-item menu-item-type-custom menu-item-object-custom menu-item-4533">
            <a>Dental Procedures</a>
        </li>
        <li id="menu-item-4772" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-4772">
            <a href="http://www.specialistdentalgroup.com/services/wisdom-tooth-surgery/">Wisdom Tooth Surgery</a>
        </li>
        <li id="menu-item-4536" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-4536">
            <a href="http://www.specialistdentalgroup.com/services/dental-implants/">Dental Implant Surgery</a>
        </li>
        <li id="menu-item-4836" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-4836">
            <a href="http://www.specialistdentalgroup.com/services/bridges/">Bridges</a>
        </li>
        <li id="menu-item-4774" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-4774">
            <a href="http://www.specialistdentalgroup.com/services/root-canal-treatment/">Root Canal Treatment</a>
        </li>
        <li id="menu-item-4775" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-4775">
            <a href="http://www.specialistdentalgroup.com/services/jaw-surgery/">Jaw Surgery</a>
        </li>
        <li id="menu-item-4776" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-4776">
            <a href="http://www.specialistdentalgroup.com/services/tongue-tie/">Tongue Tie Surgery</a>
        </li>
        <li id="menu-item-4841" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-4841">
            <a href="http://www.specialistdentalgroup.com/services/dentures/">Dentures</a>
        </li>
    </ul>
    <!-- <ul class="nav nav-list"><li><a href="http://www.specialistdentalgroup.com/services/missing-teeth/" title="Missing Teeth">Missing Teeth</a></li><li><a href="http://www.specialistdentalgroup.com/services/wisdom-tooth-surgery/" title="Wisdom Tooth Surgery">Wisdom Tooth Surgery</a></li><li><a href="http://www.specialistdentalgroup.com/services/root-canal-treatment/" title="Root Canal Treatment">Root Canal Treatment</a></li><li><a href="http://www.specialistdentalgroup.com/services/gum-grafting/" title="Gum Grafting">Gum Grafting</a></li></ul> -->
    <br class="hidden-phone" />
    <br class="hidden-phone"/>
</div>
<div class="span3">
    <ul id="menu-footer-dental-service-2" class="nav nav-list">
        <li id="menu-item-4548" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-4548">
            <a href="http://www.specialistdentalgroup.com/services/bone-grafting/">Bone Grafting</a>
        </li>
        <li id="menu-item-4550" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-4550">
            <a href="http://www.specialistdentalgroup.com/services/gum-grafting/">Gum Grafting</a>
        </li>
        <li id="menu-item-4556" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-4556">
            <a href="http://www.specialistdentalgroup.com/services/jaw-joint-tmj-treatment/">TMJ (Jaw Joint) Treatment</a>
        </li>
        <li id="menu-item-4555" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-4555">
            <a href="http://www.specialistdentalgroup.com/services/pre-surgery-assessments/">Pre-Surgery Assessments</a>
        </li>
        <li id="menu-item-4551" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-4551">
            <a href="http://www.specialistdentalgroup.com/services/sinus-lift/">Sinus Lift</a>
        </li>
        <li id="menu-item-4553" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-4553">
            <a href="http://www.specialistdentalgroup.com/services/xerostomia/">Xerostomia</a>
        </li>
        <li id="menu-item-4546" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-4546">
            <a href="http://www.specialistdentalgroup.com/services/childrens-dentistry/">Children&#8217;s Dentistry</a>
        </li>
        <li id="menu-item-5326" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-5326">
            <a href="http://www.specialistdentalgroup.com/services/reduction-of-square-jaw-surgical-and-non-surgical/">Reduction of Square Jaw</a>
        </li>
    </ul>
    <h3>
        <a>Patient Care  </a>
    </h3>
    <ul id="menu-patient-care" class="nav nav-list">
        <li id="menu-item-3897" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3897">
            <a href="http://www.specialistdentalgroup.com/patient-care/new-patient-information/">New Patient Information</a>
        </li>
        <li id="menu-item-3896" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3896">
            <a href="http://www.specialistdentalgroup.com/patient-care/pre-surgery-information-sheet/">Pre Surgery &#8211; Information Sheet</a>
        </li>
        <li id="menu-item-3895" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3895">
            <a href="http://www.specialistdentalgroup.com/patient-care/post-surgery-instructions/">Post Surgery Instructions</a>
        </li>
        <li id="menu-item-6428" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6428">
            <a href="http://www.specialistdentalgroup.com/patient-care/we-care-about-your-personal-data/">We Care About Your Personal Data</a>
        </li>
        <li id="menu-item-3894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3894">
            <a href="http://www.specialistdentalgroup.com/patient-care/international-patients/">International Patients</a>
        </li>
        <li id="menu-item-3893" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3893">
            <a href="http://www.specialistdentalgroup.com/patient-care/financial-arrangement/">Financial Arrangement</a>
        </li>
        <li id="menu-item-3892" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3892">
            <a href="http://www.specialistdentalgroup.com/patient-care/accommodation/">Accommodation</a>
        </li>
    </ul>
    <br class="hidden-phone" />
    <h3>
        <a href="http://www.specialistdentalgroup.com/contact-us/">Contact Us </a>
    </h3>
    <ul class="nav nav-pills social">
        <li>
            <a class="facebook" href="http://www.facebook.com/SpecialistDentalGroup" title="Facebook"></a>
        </li>
        <li>
            <a class="blog" href="http://www.specialistdentalgroup.com/blog" title="RSS"></a>
        </li>
        <li>
            <a class="linked" href="http://www.linkedin.com/company/1128967?trk=tyah" title="Linkedin"></a>
        </li>
        <!-- 	<li><a class="tube" href="http://www.youtube.com/user/specialistdentalgrp" title="Youtube"></a></li> -->
        <li>
            <a class="twitter" href="https://twitter.com/DentistsSG" title="Twitter"></a>
        </li>
    </ul>
</div>
</div>
<ul class="nav nav-pills social visible-phone">
    <li>
        <a class="facebook" href="http://www.facebook.com/SpecialistDentalGroup" title="Facebook"></a>
    </li>
    <li>
        <a class="blog" href="http://www.specialistdentalgroup.com/blog" title="RSS"></a>
    </li>
    <li>
        <a class="linked" href="http://www.linkedin.com/company/1128967?trk=tyah" title="Linkedin"></a>
    </li>
    <!-- 	<li><a class="tube" href="http://www.youtube.com/user/specialistdentalgrp" title="Youtube"></a></li> -->
    <li>
        <a class="twitter" href="https://twitter.com/DentistsSG" title="Twitter"></a>
    </li>
</ul>
<hr />
<p class="copyright pull-left">© 2006-2014 Specialist Dental Group&trade;. All Rights Reserved.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <b>Website by
        <a href="http://healthcare.dp.sg" target="_blank">Design Prodigy</a>
    </b>
</p>
<p class="copyright pull-right">
    <a href="http://www.specialistdentalgroup.com/wp-content/themes/sdg/privacy-policy/?lang=en" title="Privacy Policy">Privacy Policy</a>  |
    <a href="http://www.specialistdentalgroup.com/wp-content/themes/sdg/terms-of-use/?lang=en" title="Terms of Use">Terms of Use</a>  |
    <a href="http://www.specialistdentalgroup.com/wp-content/themes/sdg/sitemap?lang=en" title="Sitemap">Sitemap</a>
</p>
</div>
</div>