<footer class="footer-area">
    <div class="avada-row">
        <section class="fusion-columns row fusion-columns-4 columns columns-4">

            <article class="fusion-column col col-lg-3 col-md-3 col-sm-3 ">
            </article>

            <article class="fusion-column col col-lg-3 col-md-3 col-sm-3">
            </article>

            <article class="fusion-column col col-lg-3 col-md-3 col-sm-3">
            </article>

            <article class="fusion-column col last col-lg-3 col-md-3 col-sm-3">
            </article>
            <div class="fusion-clearfix"></div>
        </section>
    </div>
</footer>
<footer id="footer">
    <div class="avada-row">
        <div class="copyright-area-content">
            <div class="copyright">
                <div>Copyright 2012 Avada | All Rights Reserved | Powered by <a href="http://wordpress.org">WordPress</a>  |  <a href="http://theme-fusion.com">Theme Fusion</a></div>
            </div>
            <div class="fusion-social-links-footer">
                <div class="fusion-social-networks"></div>				</div>
        </div>
    </div>
</footer>