<div class="header-wrapper">
    <div class="header-v1">
        <header id="header">
            <div class="avada-row" style="padding-top:0px;padding-bottom:0px;" data-padding-top="0px" data-padding-bottom="0px">
                <div class="logo" data-margin-right="0px" data-margin-left="0px" data-margin-top="31px" data-margin-bottom="31px" style="margin-right:0px;margin-top:31px;margin-left:0px;margin-bottom:31px;">
                    <a href="<?php echo base_url()?>">
                        <img src="<?php echo file_path('images/logo.png')?>" alt="test" class="normal_logo" />
                    </a>
                </div>
                <nav id="nav" class="nav-holder" data-height="83px">
                    {{ theme:partial name="main_menu" }}
                </nav>
                <div class="mobile-nav-holder main-menu"></div>
            </div>
        </header>
    </div>				
    <div class="init-sticky-header"></div>		
</div>
<header id="header-sticky" class="sticky-header" style="display: none; top: 0px;">
    <div class="sticky-shadow" style="top: 0px;">
        <div class="avada-row">
            <div class="logo">
                <a href="<?php echo base_url()?>">
                    <img src="<?php echo file_path('images/logo.png')?>" alt="test" class="normal_logo" />
                </a>
            </div>
            <nav id="sticky-nav" class="nav-holder">
                {{ theme:partial name="main_menu" }}
            </nav>
        </div>
    </div>
</header>