
    <ul class="navigation menu fusion-navbar-nav">
        <li id="menu-item-1300" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1300 fusion-dropdown-menu">
            <a href="/about-us" aria-haspopup="true">About us 
                <span class="caret"></span>
            </a>
        </li>
        <li id="menu-item-1300" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1300 fusion-dropdown-menu">
            <a href="/dental" aria-haspopup="true">Dental
                <span class="caret"></span>
            </a>
        </li>
        <li id="menu-item-1300" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1300 fusion-dropdown-menu">
            <a href="/cosmetic-laser" aria-haspopup="true">Cosmetic laser
                <span class="caret"></span>
            </a>
        </li>
        <li id="menu-item-1300" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1300 fusion-dropdown-menu">
            <a href="/our-doctors" aria-haspopup="true">Our doctors
                <span class="caret"></span>
            </a>
        </li>

        <li id="menu-item-1300" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1300 fusion-dropdown-menu">
            <a href="/dental-price-list" aria-haspopup="true">Price list 
                <span class="caret"></span>
            </a>
            <ul class="sub-menu">
                <li id="menu-item-3609" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3609 fusion-dropdown-submenu">
                    <a href="/dental-price-list" aria-haspopup="true">Dental</a>
                </li>

                <li id="menu-item-3609" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3609 fusion-dropdown-submenu">
                    <a href="/cosmetic-laser-price-list" aria-haspopup="true">Cosmetic laser</a>
                </li>
            </ul>
        </li>

        <!--dynamic-->
        <li id="menu-item-1300" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1300 fusion-dropdown-menu">
            <a href="/reviews" aria-haspopup="true">Reviews
                <span class="caret"></span>
            </a>
        </li>

        <li id="menu-item-1300" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1300 fusion-dropdown-menu">
            <a href="/blog" aria-haspopup="true">Blog
                <span class="caret"></span>
            </a>
        </li>




        <?php if($this->current_user):?>
        <li id="menu-item-1300" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1300 fusion-dropdown-menu">
            <a class="icon-user" href="javascript:void(0)" aria-haspopup="true"> <?php echo ucfirst($this->current_user->last_name)?>
                <span class="caret"></span>
            </a>
            <ul class="sub-menu">
                <li id="menu-item-3609" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3609 fusion-dropdown-submenu">
                    <a href="/users/logout" aria-haspopup="true">Logout</a>
                </li>

                <li id="menu-item-3609" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3609 fusion-dropdown-submenu">
                    <a href="/edit-profile" aria-haspopup="true">Edit profile</a>
                </li>
            </ul>
        </li>
        <?php else:?>
        <li id="menu-item-1300" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1300 fusion-dropdown-menu">
            <a class="icon-user" href="javascript:void(0)" aria-haspopup="true"> Sign in
                <span class="caret"></span>
            </a>
            <ul class="sub-menu">
                <li id="menu-item-3609" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3609 fusion-dropdown-submenu">
                    <a href="/users/login" aria-haspopup="true">Login</a>
                </li>
                <li id="menu-item-3609" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3609 fusion-dropdown-submenu">
                    <a href="/facebook-login" aria-haspopup="true">Login via Facebook</a>
                </li>
                <li id="menu-item-3609" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3609 fusion-dropdown-submenu">
                    <a href="/register" aria-haspopup="true">Register</a>
                </li>
            </ul>
        </li>
        <?php endif;?>

    </ul>

