* {filter:none !important}
body { font-family:Arial, Helvetica, sans-serif;}
.appointment, .enquiry, .nav-sticky li a.appointment, .nav-sticky li a.enquiry { font-family:Arial, Helvetica, sans-serif; font-size:15px; }
.banner .outer-spotlight .left-col .spotlight a, .banner.service_detail .outer-spotlight .left-col .spotlight a{ font-family:Arial, Helvetica, sans-serif; font-size:13px;}
.banner .outer-spotlight .left-col .spotlight, .banner.service_detail .outer-spotlight .left-col .spotlight { background:#fff;}
.header { position: absolute; top:0px; left:0px; width:100%; background:#fff;}
.banner { margin-top:0px;} 

.inner-page .header, .single-services .header
{ 
	 position:relative;
}


.sponsors { padding-top:20px;}
.inner-page .inner-content { background:#f1f1f1;}