<nav id="mobile-menu-01" class="mobile-menu collapse">
  <ul id="mobile-primary-menu" class="menu">
    <li class="menu-item-has-children">
      <a href="/about-us">About us</a>
    </li>
    
    <li class="menu-item-has-children">
      <a href="hotel-index.html">Cosmetic Laser</a>
    </li>
    <li class="menu-item-has-children">
      <a href="flight-index.html">Our Doctors</a>
    </li>
	 <li class="menu-item-has-children">
      <a href="flight-index.html">Price List</a>
    </li>
    <li class="menu-item-has-children">
      <a href="/blog">Blogs</a>
    </li>
  </ul>

  <ul class="mobile-topnav container">
    <li><a href="<?php echo base_url().'edit-profile'?>">MY ACCOUNT</a></li>
    <?php if($this->current_user):?>
    <li><a href="<?php echo base_url().'users/logout'?>">LOGOUT</a></li>
    <?php else:?>
    <li><a href="<?php echo base_url().'users/login'?>">LOGIN</a></li>
    <li><a href="<?php echo base_url().'users/register'?>">SIGNUP</a></li>
    <?php endif;?>
  </ul>

</nav>